@charset "UTF-8";
/*整站样式*/
html,body,dl,dd,img,form,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,button{margin:0;padding:0; border:0;}
body{font-size: 12px;font-family: 'Microsoft YaHei'; -webkit-tap-highlight-color:rgba(0,0,0,0);}
input,textarea,button{padding: 0;font-family: 'Microsoft YaHei';}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
ul,ol,li{ list-style-type:none;}
img{border:0;vertical-align:middle;}
select,input,textarea,button{vertical-align:middle;outline: none;}
table{border-collapse:collapse;border-spacing:0}
iframe{border:none;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
a:active{text-decoration:none;}
.hidden{display:none;visibility:hidden;}
.wrap{border: 0;padding:0;width:1150px;margin:0 auto;*zoom:1;}
.wrap:after{clear: both;content:"";display: table;}
.clear{clear:both;font-size:0;line-height:0;height:0;visibility:hidden;}
.fix{*zoom:1;}
.fix:after{clear: both;content:"";display: table;}
.fl{float: left;}
.fr{float: right;}
.pors{position: relative;}
.tl{text-align: left;}
.tc{text-align: center;}
.tr{text-align: right;}
body::-webkit-scrollbar {
    display: none;
}
/*--header--*/


/*--手机页面--*/
.sj-header {
     width:100%;
     display:table;
     height: 245px;
     z-index: 1;
     position: absolute;
}
.sj-header-box {
    width:94%;
    padding:0 3%;
    display:table;
}
.sj-header-box img {
    width:100%;
    height: 245px;
    z-index: 1;
    position: absolute;
    border:none;
}

.sj-footer {
    width:100%;
    height:4rem;
    line-height:4rem;
    background:#f7f7f7;
    border-top:1px solid #dcdcdc;
    bottom: 0px;
    position: fixed;
    z-index:5;

}
.sj-footer-link {
    width:33%;
    height:4rem;
    float:left;
    font-size:1.3rem;
    font-weight:bold;
    text-align:center;
    color:#654000;
    display:block;
    border-right:1px solid #dcdcdc;
    box-sizing: border-box;}
.head-img{
    height: 66px;
    width: 66px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-right: 16px;
    border-radius: 100%;
    border: 1px solid var(--theme-lb);
}
.head-panl {
    padding: 16px 0 5px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    display: flex;
    flex-direction:row;
}
.userCompanyName{
    
}
.theme-name{
    font-size: 28px;
    line-height: 66px;
    color: white;
    font-weight: bold;
}
.theme-name-timeout{
    float: right;
    color: red;
    font-size: 12px;
    line-height: 12px;s
    font-weight: initial;
}
.theme-bg1 {
    background:linear-gradient(180deg,rgba(191, 145, 103, 0.8),rgba(166, 153, 104, 0.6) 44%,#f5f5f5);
}
.theme-bg2{
    background:linear-gradient(180deg,rgba(148, 159, 66, 0.8),rgba(215, 181, 181, 0.6) 44%,#f5f5f5);
}
.theme-bg3{
    background:linear-gradient(180deg,rgba(156, 131, 225, 0.8),rgba(181, 215, 204, 0.6) 44%,#f5f5f5);
}
.theme-bg4{
    background:linear-gradient(180deg,rgba(191, 188, 22, 0.8),rgba(166, 153, 104, 0.6) 44%,#f5f5f5);
}
.top_head_bg{
    /*background-image: url('1.png');*/
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;height: 245px;
}
.sj-footer-link.on {
    background:#ccac44;
    color:#fff;
}
.sj-sm-link {
    color: #ccac44;
}

.sj-zx {
    width:100%;
    height:5rem;
    overflow:hidden;
}
.sj-zx-title {
    /*height:3.5rem;
    line-height:3.5rem;*/
    font-size:1.1rem;
    color:#ff0000;
    text-align:right;
    padding-right:2%;
}
.sj-zx-list-title {
    width:100%;
    height:3rem;
    line-height:3rem;
    color:#8e5110;
    font-size:1.2rem;
    font-weight:bold;
}
.sj-zx-list-l1 {
    width:10%;
    height:3rem;
    float:left;
	text-align:center;
    display:block;
}

.sj-zx-list-l2-head {
    width:22.5%;
}
.sj-zx-list-l2-head25 {
    width:25%;
}
.sj-zx-list-l2-head33 {
    width:33.3%;
}
.sj-zx-list-l2 {
    height:3rem;
    float:left;
    display:block;
    text-align:center;
}
.sj-zx-list-l2:last-child {
    width:22.5%;
}


.bg {
    background: #ccac44;
}

.sl-zx-list {
    width:100%;
}
.sl-zx-list li {
    /*border-top:1px solid #e9e9e9;
    border-bottom:1px solid #e9e9e9;*/
    margin-top:1rem;
    display:table;
    border-radius: 5px;
}
.sl-zx-list-wxht-li{
    border-radius:0px;
    border-bottom:2px solid #bedae8;
    margin-top:0px;
}
.sl-zx-list-wxht li:last-child {
    border-bottom: 0px;
}
.sl-zx-list-t {
    width:10%;
    height:16rem;
    text-align:center;
    font-size:4vw;
    font-weight:bold;
    color:#ccac44;
    float:left;
    position:relative;
    box-sizing: border-box;
    border-radius: 4px;
}
.sl-zx-list-t span {
    line-height:2rem;
    display:block;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:50%;
    left:25%;
    text-align:center;
}
/*首页数据模块*/

.blur {
    filter: blur(4px);
}
/*数据列*/
.sl-zx-cell{
    width:25%;
}
.sl-zx-cell33{
    width:33.3%;
}
.sl-zx-tb1 {
    width:90%;
    height:4rem;
    line-height:4rem;
    text-align:right;
    font-size:1.4rem;
    float:right;
    box-sizing: border-box;
}
.sl-zx-tb100 {
    width:100%;
    height:4rem;
    line-height:4rem;
    text-align:right;
    font-size:1.4rem;
    float:right;
    box-sizing: border-box;
}
.sl-zx-tb2 {
    height:4rem;
    font-size:1.4rem;
    float:left;
    color: #B79320;
    text-align:center;
    box-sizing: border-box;
    /*
	background-color: black;
     border-bottom:1px solid #262825;
     color:DAB950;
    */
}
.sl-zx-tb3 {
    height:4rem;
	text-align:center;
    float:left;
    border-right: 0px;
    font-family:Arial;
    box-sizing: border-box;
    /*
     border-bottom:1px solid #262825;
	background-color: black;
    */
}
.sl-zx-tb4 {
    width:99%;
    padding-right:1%;
    height:2rem;
    line-height:2rem;
    box-sizing: border-box;
    font-size:1.1rem;
}
.sl-zx-tb4:last-child {
    border-bottom:none;
}


.sj-sm{
    width:94%;
    padding:1rem 3%;
    font-size:1rem;
    color:#c7a432;
    line-height:2rem;
}
.sj-sm-txt {
    color:#ff0000;
}
.sj-sm-link {
    color:#c7a432;
    border-bottom:1px solid #c7a432;
}



/*间隔背景*/
.sl-zx-tb-bg {
    background:#f8f8f8;
}
/*数据颜色*/
.sl-zx-tb-ys1 {
    color:#ff0000;
}
.sl-zx-tb-ys2 {
    color:#008027;
}
/*字体加粗*/
.sl-zx-tb-ct {
    font-weight:bold;
}
/*状态*/
.sl-zx-tb-zt1 {
    width:24%;
    height:3rem;
    margin-left:1%;
    margin-top:0.5rem;
    line-height:3rem;
    background:#ff0000;
    color:#fff;
}
.sl-zx-tb-zt2 {
    width:24%;
    height:3rem;
    margin-left:1%;
    margin-top:0.5rem;
    line-height:3rem;
    background:#008027;
    color:#fff;
}

/*首页数据模块结束*/


/*联系我们*/
.sj-contact {
    width:94%;
    padding:0 3%;
}
.sj-contact-add {
    width:100%;
    border-bottom:1px dashed #c3c3c3;
    box-sizing:border-box;
}
.sj-contact-add li {
    padding-left:17%;
    min-height:4rem;
    margin:1rem 0;
    font-size:1.2rem;

}
.sj-contact-add-l1 {
    background:url(lx-img2.png)left top no-repeat;
    background-size:13%;
}
.sj-contact-add-l2 {
    background:url(lx-img3.png)left top no-repeat;
    background-size:13%;
}
.sj-contact-add-l3 {
    background:url(lx-img4.png)left top no-repeat;
    background-size:13%;
}
.sj-contact-add-t1 {
    font-size:1.2rem;
    line-height:2rem;
    color:#333;
}
.sj-contact-add-t2 {
    color:#6b90ba;
    line-height:2rem;
}
.sj-contact-add-t3 {
    line-height:2rem;
    font-size:1.4rem;
    color:#ff9e48;
    font-weight:bold;
}
.sj-contact-add-t4 {
    line-height:2rem;
    font-size:1.4rem;
    color:#ccac44;
    font-weight:bold;
}
.sj-contact-car {
    width:100%;
    font-size:1.2rem;
    line-height:1.6rem;
    padding-bottom:1rem;
}
.sj-contact-bus {
    padding-left:8%;
    background:url(lx-img5.png) left top no-repeat;
    background-size:6%;
    margin-top:2rem;
}
.sj-contact-bus-t1 {
    color:#6b90ba;
}
.sj-contact-bus-t2 {
    color:#333;
    line-height:2.3rem;
}
.sj-contact-taxi {
    padding-left:8%;
    background:url(lx-img6.png) left top no-repeat;
    background-size:6%;
    margin-top:2rem;
}
.sj-contact-taxi-t1 {
    color:#ff9e48;
}
.sj-contact-taxi-t2 {
    color:#333;
    line-height:2.3rem;
}
.sj-contact-subway {
    padding-left:8%;
    background:url(lx-img7.png) left top no-repeat;
    background-size:6%;
    margin-top:2rem;
}
.sj-contact-subway-t1 {
    color:#ccac44;
}
.sj-contact-subway-t2 {
    color:#333;
    line-height:2.3rem;
}
.sj-contact1 {
    width:100%;
    padding:0 3%;
    display:table;
    border-top:1px dashed #c3c3c3;
    box-sizing:border-box;
}
.sj-contact1-title {
    height:4rem;
    line-height:4rem;
    font-size:1.4rem;
    font-weight:bold;
    color:#ccac44;
}
.sj-contact1-t1 {
    height:3rem;
    line-height:3rem;
    padding-left:1rem;
    width:78%;
    padding-left:4%;
    border:none;
    background:#f3f3f3;
    font-size:1.1rem;
    color:#888;
    margin-bottom:1rem;
}
.sj-contact1-t2 {
    width:94%;
    padding:1rem 3%;
    height:5rem;
    font-size:1.1rem;
    line-height:2rem;
    color:#888;
    border:none;
    background:#f3f3f3;
    margin-bottom:1rem;
}
.sj-contact1-t3 {
    width:100%;
    height:3rem;
    border:none;
    background:#ccac44;
    font-size:1.2rem;
    color:#fff;
    margin-bottom:2rem;
}


/*---手机页面结束---*/

/*--新增新闻页面样式--*/
.news-lsit {
    width:100%;
    min-width:1200px;
    margin:auto;
    display:table;
}
.news-lsit li {
    width:1200px;
    margin:auto;
    height:48px;
    line-height:48px;
    border-bottom:1px dashed #e4e4e4;
}
.news-lsit-title {
    width:900px;
    height:48px;
    overflow:hidden;
    font-size:14px;
    color:#333;
    float:left;
    padding-left:26px;
    background:url(tb10.png)left center no-repeat;
}
.news-lsit-time {
    font-family:Arial;
    color:#999;
    float:right;
}
.news-show {
    width:100%;
    min-width:1200px;
    margin:auto;
}
.news-show-top {
    width:1200px;
    margin:auto;
    padding-top:30px;
    padding-bottom:20px;
    text-align:center;
    border-bottom:1px solid #e0e0e0;
}
.news-show-title {
    font-size:24px;
    line-height:44px;
    color:#333;
}
.news-show-t1 {
    font-size:14px;
    color:#999;
    line-height:32px;
}
.news-show-txt {
    width:1200px;
    margin:auto;
    padding:20px 0;
    border-bottom:1px dashed #e0e0e0;
}
.news-show-txt img {
    max-width:100%;
    display:table;
    margin:auto;
}
.news-show-click {
    width:1200px;
    height:130px;
    margin:auto;
}
.news-show-ck {
    float:left;
    font-size:14px;
    line-height:28px;
    color:#999;
    padding-top:23px;
}
.news-show-ck1 {
    color:#333;
}

.news-show-back {
    float:right;
    width:85px;
    height:30px;
    display:block;
    text-align:center;
    line-height:30px;
    background:#f5f5f5;
    font-size:14px;
    color:#999;
    margin-top:30px;
    border-radius:3px;
}


/**
调价的样式
*/
.tj-label {
    margin-right: 0.4rem;
    cursor:pointer;
}
.tj-input{
    width: 2.5rem;
    border: 0px;
    font-size: 8px;
}
